.btnVoid{
    color: red;
    border-radius: 30px;
}

.actionBtnDiv{
    width: 50%;
    align-content: center;
    padding-left: 12px;
    padding-top: 20px;
}

/*
.popup_printcontainer{
    width: 40% !important;
	max-width: 50% !important;
}
*/

.wbLayoutDiv{
    width: 90%;
    padding-right: 40px;
    padding-left: 12px;
}

.wrContainerDiv{
    margin-top: 12px;
}