.THIS .sectionStyle{
    padding-right: 50px;
}
.THIS .anchorDivStyle{
    text-align: center;
}
.THIS .sectionClass{
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 25px;
    background-color:#444;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
    font-size: .97em;
}
.THIS .sectionFirstClass{
    max-width: 930px;
    margin: 0 auto;
    padding: 0;
    font-size: .97em;
    padding-top: 25px;
    padding-bottom: 25px
}
.THIS h2{
    color: #e0ae1a;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 9px;
}
.THIS a{
    color: #ebebeb;
    padding: 0 0;
    background: transparent;
    line-height: 1.3;
    cursor: pointer;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15.5154px;
}
.THIS .anchorStyle{
    font-size: 16.49px;
    font-family: "Source Sans Pro", sans-serif;
}
.THIS a:hover{
    color: #ffffff;
}
.THIS ul{
    padding: 0;
    margin-bottom: -5px;
    list-style: none;
    margin-top: 7px;
    font-size: 15px;
}
.THIS li{
    margin-bottom: .6em;
    display: block;
    line-height: 1.3;
    text-align: left;
    float: none;
    font-size: 15px;
    margin-left: 0;
}
.THIS .navContainer{
    padding-left: 100px;
    padding-right: 100px;
}
.THIS .link-Nav{
    background-color: black;
    color: #ffffff;
    padding-left: 10px;
    height: 40px;
    padding-top: 5px;
}
.THIS .socialMediaIconStyle{
    margin-top: 5px;
}
.THIS .copyrightClass{
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin-top: 5px;
}