.custom-required-label::before {
    content: "* ";
    color: red;
}

.casePaymentStatusRed {
    color: red;
}

.casePaymentStatusGreen {
    color: green;
}

.amountRemainingToAllocateRed {
    color: red;
}

.amountRemainingToAllocateGreen {
    color: green;
}

.popupFieldLabel { /* TODO: is this used? */
    text-align: right;
    font-weight: bold;
}

td {
    padding: 5px;
}

.customIcon{
    width: 32px;
    height: 32px;
    /* margin: 10px; */
}