.requiredStyle{
    color:red;
}
.checkboxStyle{
    display: inline-block;
}
.headingStyle{
    font-size: 34px;
    line-height: 44px;
    font-family: Avenir Next forINTUIT,Avenir,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: lighter;
    color: #393a3d;
    margin: 0;
    overflow-wrap: break-word;
}
.radioGroupStyle{
    padding:20px 0 0 20px;
}
.requiredMsgStyle{
    color:red;
    padding: 15px 0 0 15px;
}

.slds-form-element__control .slds-radio{
    padding: 0 0 10px 0;
}

.requiredErrorMag{
    color: red;
    padding: 0 0 0 6px;
    font-size: 15px;
}

.learnMoreStyle{
    font-size: 15px;
}

.dateFormatLabel{
    font-size: 15px;
}